/**************** GENERAL ******************************/
body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 0.7em;
    background: url(++resource++upc.genwebupctheme.images/fons.png) center repeat-y #ffffff;/*#f6f6f6*/
}

a:link {    color:#0076cc;  text-decoration: none;}
a:visited { color: #0076cc; text-decoration: none;}
a:hover {   color: #0076cc;     text-decoration: underline;}
a:active {  color: #0076cc;     text-decoration: none;}
img {border:none;} /*les imatges links sense resaltar amb línia*/
.logo a:hover{text-decoration: none;}; /*soluciona subratllat hover ie6*/

ul {
    margin: 0px;
    padding: 0px;
}

form { 
	margin: 0px; 
	padding: 0px;
	vertical-align: text-bottom;
}

input.text, input.password {
    font-size: 11px;
    padding: 0px 1px 1px 1px;
    border: 1px solid #FF6600; /*específic 1*/
    background: url(++resource++upc.genwebupctheme.images/fonsInput.gif) repeat-x;
}

input.radio {
    margin-right:5px;   
    margin-bottom:-2px;
    margin-top: 2px;
}

input.button {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    margin-bottom:5px;
    margin-top: 5px;
    padding: 0px 1px;
}

.submitGo {
  width: 55px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background: url(++resource++upc.genwebupctheme.images/cerca_ca.gif) no-repeat right bottom;
  overflow: hidden;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

.submitLogin {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background: url(++resource++upc.genwebupctheme.images/go.gif) no-repeat right bottom;
  overflow: hidden;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

h1 {
    color:#CC0000;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1.5em;
    font-weight:bold;
    margin:0px;
}

h1,h2{
    border-bottom:0px;
}
	
#baner {
    margin-bottom:20px;
    text-align:right;
}

#baner img {    
	border: 1px solid #0076cc;  
	margin-bottom:20px;
}

#visual-portal-wrapper{
    margin: 0px auto;
    padding: 0;
    width: 958px;
}
/******************************* CAPÇALERA ******************************/
/**************************** ELEMENTS COMUNS ***************************/
#capcalera{ }
.barraCerca{
    margin: 4px 0px 0px 5px;
    text-align: right;
    float:none;
    margin-top: 7px;
}

.barraCerca img {
    vertical-align: baseline;
}

.go {
    position:relative;
    top:4px;
    padding-left:5px;
}

.quadradet {
    background-color:#FF6600; /*específic 1*/
    margin-bottom:1px;
    width:4px;
    height:5px;
}

.souA {
    margin: 5px 0px 40px 0px; font-size:0.9em; padding-left:8px;
    background: url(++resource++upc.genwebupctheme.images/fletxa4gris.png) no-repeat top left;
}

.connexio {margin-top:-15px;}
.connexio a{margin-left:25px;}
.connexio b{color:#4D4D4D;}
/************************** CONTINGUT ********************************/
.contingut{
    text-align: left;
    line-height: 1.5em;
}

.columnaMenu {
    float:left;
    width:200px;
}
.columnaCentreMenu {
    margin-left:225px;
    margin-bottom:20px;
}
.columnaEsq {
    float:right;
    width:200px;
    margin-right: 25px;
}

.columnaCentre {
    margin-right: 400px;
}

.columnaCentreCentrada {
    margin-left:225px;
    margin-right: 175px;
}

.columnaDreta {
    width: 150px;
    float: right;
}

.iconesContingut {
    text-align:right;
    float:right;
    width:150px;
}

.iconesContingut img{
}

.iconesContingut a{
    margin: 0px 5px;
}
/*************************** MENU LATERAL ******************************/
.titolSeccio{
    background:url(++resource++upc.genwebupctheme.images/submenuFons.png) no-repeat #ededed;
    width: 197px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:#FFFFFF;
    font-size:1.75em;
    font-weight:bold;
    padding:15px 0px 0px 3px;
}

.titolSeccio .textetSeccioneta {
    line-height: 1.1em;
}

.flotaTapa {
    background-color:#FFFFFF;
    height: 8px;
    margin-top:-4px;
}

#submenu {
    margin: 5px 0px 0px 0px;
    position: relative;
    border-top:1px dashed #333333;
}

#submenu b{ color:#0076cc; }
#submenu ul{ padding: 0px;}
#submenu li {
    padding: 5px 0px 5px 20px;
    margin: 0px 0px;
    background: url(++resource++upc.genwebupctheme.images/custom/fletxaGo.gif) no-repeat top left;
    list-style-type: none;
    border-bottom: 1px dashed #333333;
    line-height:2em;
}

#submenu ul li ul li {
    padding: 0px 0px 0px 10px;
    margin: 5px 1px;
    background: url(++resource++upc.genwebupctheme.images/custom/quadret.gif) no-repeat top left;
    list-style-type: none;
    line-height:1.5em;
    border-bottom:none;
    font-size:0.9em;
}

/************************** PEU ******************************************/
#peu { 
    clear:both;
    float:none;
    margin-bottom:10px;
}

#signText {
    line-height: 1.1em;
    font-size: 0.9em;
    border-top: 3px solid #ff6600; /*específic 1*/
    padding-top: 4px;
    margin-left: 225px;
}

.sobreElWeb {
    float:right;
    margin-top:-12px;
}

.bandaPeu {
    float:left;
    border-top: 18px solid #ff6600; /*específic 1*/
    width:200px;
}

#bandaLogos {
    line-height: 1.1em;
    font-size: 0.9em;
    border-top: 1px dashed #ff6600; /*específic 1*/
    margin-left: 225px;
    vertical-align:middle;
}

#bandaLogos img {
    margin-right: 15px;
    padding: 10px 0px;
}

/************************* DIV CARPETA I CARPETA INTEL·LIGENT **************/
.divCarpeta {
    border-top: 1px dashed #999999;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    background:#ededed;
    background:url(++resource++upc.genwebupctheme.images/fonsT.png) repeat-x bottom;
    margin: 10px 0px 0px 15px;
    padding: 5px;
}

.divCarpeta ul li {
    padding: 0px 0px 0px 12px;
    margin: 5px 10px;
    background: url(++resource++upc.genwebupctheme.images/custom/quadret.gif) no-repeat top left;
    list-style-type: none;
    line-height:1.5em;
    border-bottom:none;
    font-size:0.9em;
}

.divCarpeta small {
}

.divCarpeta p {
    line-height: 1em;
    margin-top:0px;
    margin-bottom:15px;
}

.divCarpetaTitol {
    background:url(++resource++upc.genwebupctheme.images/custom/triangle.gif) no-repeat top left;
    font-size:1.2em;
    font-weight:bold;
    color:#CC0000; /*específic3*/
    padding: 8px 0px 5px 15px;
}

.modificacio {
    color:#CC0000; /*específic 3*/
    text-align:right;
    font-size:0.9em;
}

/* UPCnet */
#portal-breadcrumbs {
    font-size:0.9em;
    border-bottom: 0px;
    padding-right:0em;
    line-height:1em;
    background:transparent url(++resource++upc.genwebupctheme.images/fletxa4gris.png) no-repeat scroll left top;
    padding-left:8px;
    margin:5px 0px 10px;
}

#portal-breadcrumbs a {
  text-decoration:none;
}

#portal-breadcrumbs a:hover {
  text-decoration:underline;
}
#breadcrumbs-you-are-here{
  font-weight:bold;
}

.barraCerca { 
	text-transform: lowercase; 
}

#searchGadget {
	font-family:Verdana, Arial, Helvetica, sans-serif;
    background:transparent url(++resource++upc.genwebupctheme.images/fonsInput.gif) repeat-x scroll 0%;
    border:1px solid #FF6600;
    font-size:11px;
    padding:0px 1px 1px;    
}

.LSBox {
    float: right;
    margin: 0px !important;
}

#livesearchLegend {
    border:0px;
    background:url(++resource++upc.genwebupctheme.images/custom/liveSearchFletxa.gif) no-repeat;
    line-height:1em;
    margin-left:auto;
    margin-top:-4em;
    padding:5px;
    font-size:0.0em;/*ho poso per treure el text*/
}


.livesearchContainer {
    background:#e6e6e6 url(++resource++upc.genwebupctheme.images/fonsT.png) repeat-x scroll center bottom;
    border:1px solid #666666;
    color:#333333;
    font-family:Verdana,Arial, Helvetica,sans-serif;
    margin-top:0pt;
    padding:0pt !important;
    position:absolute;
    right:0px;
    text-align:left;
    text-transform:none;
    top:0pt;
    visibility:visible;
    white-space:normal;
    width:24.3em;
}

.LSTable {
    margin: 10px 0px 0px 0px;
}
.LSResult { 
    left:0px;
    margin:0px;
}

.LSIEFix {
    background-color:#ededed;
}
.LSRow {
    border:0px;
}

.image-inline {
	border:1px solid #999999;
    padding:3px;
}

.barra_idiomes {
    font-size:0.9em;
    *font-size:0.85em;
    _font-size:0.85em;
    padding-top:2px;
    *padding-top:0px;
    _padding-top:0px;
}




/* AFEGITS del custom.css*/


.documentEditable .documentContent {/*authoring.css (line 369)*/
    border:1px solid #666666; /*poseu-ho a 0 (zero) si creieu que desemmarcat no té problemes d'usabilitat*/
    border-top:1px solid #666666;
    padding-top:10px !important; /*separa una mica el contingut del menú d'edició (vik,modificat, 50 era massa!) */
    /*background: url(++resource++upc.genwebupctheme.images/custom/fonsT.png) repeat-x bottom;*/ /*una prova amb fons per marcar on acaba visualment*/
}
.contentViews li a {
    color:#0077cc;
    border:1px solid #666666;
}
.contentViews {
    background-color:transparent;
    border-color:#666666;
}
.contentActions li {
    border-left:1px solid #666666;
}
.contentActions {
    background-color:#EDEDED;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
    color:#666666;
}
.contentViews li a:hover {
    background-color:#ededed;
    color:#666666;
}
.contentViews .selected a {
    background-color:#ededed;
    border-bottom:1px solid #ededed;
    color:#666666;
}
.actionMenu .actionMenuContent ul {
    background:#ededed none repeat scroll 0% 50%;
    border-color:#666666;
}
.actionMenu .actionMenuContent li a:hover {
    background-color:#cccccc;
    color:White;
}

.actionMenu .actionMenuContent .actionSeparator a {
    border-top:1px solid #666666;
}
/***********************************************************************************************************************************************
TAULES DE CONTINGUT
***********************************************************************************************************************************************/
table.listing th, .stx table th {
    background:#ededed none repeat scroll 0% 50%;
    border-bottom:1px solid #666666;
    border-right:1px solid #666666;
    border-top:1px solid #666666;
    font-weight:normal;
    padding:0.25em 0.5em;
    text-transform:lowercase;
    font-size:1.1em; /*afegit per fer el text un xic més gran, podeu treure-ho*/
}
table.listing td, .stx table td {
    border-right:1px solid #666666;
}
table.listing, .stx table {
    border-bottom:1px solid #666666;
    border-left:1px solid #666666;
}
.even {
background-color:#f1f1f4;
}
.state-published {
color:#333333 !important; /*ho deixo en grisUPC de mentre no s'anul·li o s'esborri aquest codi*/
/*color:#436976 !important; --> hauríeu d'anul·lar això perquè no ho puc treure per aquí, així, si ho anul·lem aconseguirem el link del títol en blau i la resta en grisUPC.*/
}
.state-private {
color:crimson !important; 
}

/************************ MISSATGE INFO SENSE IMATGE **************/
dl.portalMessage dt {
    float:left;
    line-height:1.25em;
    margin:0pt 0.5em 0pt 0pt;
    padding:0.5em 0.75em;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.25em;
    font-weight:bold;
    /* reajustament del padding */
    padding:4px 10px 5px;
    background:url(++resource++upc.genwebupctheme.images/custom/fonsTG.png) repeat-x bottom #f9f9f9;
    border-right:1px solid #ddd;border-bottom:1px solid #ddd;
}
#dashboard-info-message {
    padding:0em 0em 0.3em 0em;padding-top:0em;
}
dl.portalMessage {
    border:1px solid #ddd;
    font-size:100%;
}
.visualClear {
    clear:both;
    display:block;
}
dl.portalMessage dd {
    line-height:1.25em;
    margin:0pt;
    padding:0.6em 0.5em 0.5em 0.5em;
}
.info{
background-color:#fdfbf3 !important; /*color groc de fons de l'info, la idea és generar els quatre colors de les plantilles info, error, avís i fet(ok).*/
}
.info dt{ /*text de l'esquerra*/
    color:#333333 !important; /*color text, n'hi ha quatre també*/
    background:url(++resource++upc.genwebupctheme.images/custom/missatge_avisMini.gif) no-repeat center left;
}
.info dt img{/*ajusta la imatge*/
    padding-right:5px;}
.warning{
    background-color:#fdfbf3 !important; /*color groc de fons de l'info, la idea és generar els quatre colors de les plantilles info, error, avís i fet(ok).*/
}
.warning dt{ /*text de l'esquerra*/
    color:#333333 !important; /*color text, n'hi ha quatre també*/
    background:url(++resource++upc.genwebupctheme.images/custom/missatge_avisMini.gif) no-repeat center left;
}
dl.warning dd {
    background-color:#fdfbf3 !important;
}
.warning dt img{/*ajusta la imatge*/
    padding-right:5px;
}
h1, h2, h3, h4, h5, h6 {/*anul·lo el negre i tot això que no mola.*/
    font-family:Arial,Helvetica,Verdana,sans-serif;
}
h1, h2, h3, h4, h5, h6 {/* ESBORRAR AIXÒ PERQUÈ EL NEGRE NO S'IMPOSSI SOBRE EL #333333*/
    color: #CC00000;
}
h4 {/*h4 més gran, potser desrpés s'ha d'ajustar els h2,h2,h3,h5 i h6 perquè l'Arial visualment és més petita que la Verdana i s'ha d'incrementar aproximadament un 15%*/
    font-size:125%;
}
/********************************** ANUL·LACIÓ D'ALGUNS ESTILS DE PLONE EN ENLLAÇOS ************************************/
ul.configlets li a:visited {
    color:#0076CC;
}
ul.configlets li a:hover {/*afegit*/
    text-decoration:underline;
}
h1, h2 {
    font-weight:bold;
}
/********************************** CANVI DELS BOTONS DE PLONE (EN PROVES) ***************************************/
.context, .formControls .actionButtons .button, .documentEditable * .context {
    background:url(++resource++upc.genwebupctheme.images/custom/botoFons.gif) repeat-x center center;
    border:1px solid #006DA3;
    color:white;
    font-size:90%;
    padding:0px 1px 2px 1px;
}
input {
    font-family:Verdana,Lucida,Helvetica,Arial,sans-serif;
}
select {/*afegit*/
    font-family:Verdana,Lucida,Helvetica,Arial,sans-serif;
    font-size:90%;
}
#login-form input.context {/*forms.css (line 123)*/
background-position:center center;
margin-bottom:0em;
padding:0px 10px 2px 20px;
*padding:0px 0px 2px 0px;
_padding:0px 0px 2px 0px;
}

/********************************** COMMUTA AMB VOLUM ÉS UNA PROVA (Només FireFox de moment) ***************************************/

.optionsToggle {
    background:transparent url(++resource++upc.genwebupctheme.images/custom/commuta.gif) no-repeat scroll 0%;
    border:0px;
    color:#999999;
    font-size:85%;
    font-weight:bold !important;
    left:-4px;
    padding:5px 4px 3px;
    position:relative;
}
/* Victor: trec les boletes del mon de moment */
#content a[href^="http:"], #content a.link-external {
    background: none;
    padding: 0px;
}
#portal-column-content {/*columns.css (line 19)*/
margin:0em -1em;
padding:1em 1em 0pt;
}