/*
INCORPORA TOTS ELS CODIS PER A 
	FIREFOX
	EXPLORER 6
	EXPLORER 7
	SAFARI i CHROME
	
COLORS 
	TextUPC #333333
	LinkUPC #0076cc
	MariUPC #006da3
	GrisUPC #4d4d4d
	CianUPC #99def6
	Espe1   #ff6600
	Espe2   #d96245
	Espe3   #cc0000
	Espe4   #dfe3d3
	Espe5   #e0cece
	Espe6   #e8e2df
*/
/***********************/
/***                 ***/
/***    ESTANDARD    ***/
/***    1 #007dcc    ***/
/***    2 #006da3    ***/
/***    3 #3c718e    ***/
/***    4 #b1c6d2    ***/
/***    5 #e6e6e6    ***/
/***    6 #f1f1f4    ***/
/***                 ***/
/***********************/


/* GENERAL */
body {
	margin: 0px; 
	padding: 0px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #333333; 
	font-size: 0.7em; 
	background:#ffffff url(fons.png) center repeat-y;}
a:link { 
	color:#007dcc; 
	text-decoration: none;}	
a:visited { 
	color: #007dcc; 
	text-decoration: none;}	
a:hover {   
	color: #007dcc;     
	text-decoration: underline;} 
a:active {  
	color: #007dcc;     
	text-decoration: none;} 
a:focus { 
	outline: none;}
img {
	border:0px;} 
.logo a:hover{
	text-decoration: none;}
ul { 
	margin: 0px; 
	padding: 0px;}	
form { 
	margin: 0px; 
	padding: 0px; 
	vertical-align: text-bottom;}
blockquote {
	border-left:15px solid #E0CECE;
	border-bottom:1px solid #E0CECE;
	color: #D96245; 
	margin-left:0pt;
	padding-left:0.5em;}

pre {
	background-color:#E8E2DF;
	border:1px solid #ccc;
	color:#333;
	font-family:Monaco,'Courier New',Courier,monospace;
	font-size:99%;
	overflow:auto;
	padding:1em;}
code, 
tt {
	background-color:#99def6;
	color:#333;
	font-family:Monaco,'Courier New',Courier,monospace;
	font-size:100%;
	padding:0pt 0.1em;
	font-style:normal;}

legend {
	background:transparent none repeat scroll 0%;
	background-color:transparent;
	font-size:0%;
	padding:0em 0em 0.5em 0em;
	color:#cccccc;
	*font-size:90%;
	*display:none;}

fieldset{
	background:transparent url(fonsT.png) repeat-x scroll center bottom;
	border:1px solid #E6E6E6;
	padding:10px;
	margin:25px 0px;
	width:auto;}

fieldset[id] legend {
	background:transparent none repeat scroll 0%;
	background-color:transparent;
	font-size:90%;
	display:inline;
	padding:0em 0em 0.5em 0em;
	color:#cccccc;}

label {
	font-weight:bold;
	color:#cc0000;}
textarea {
	padding:1px 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;}	

[type="submit"] {
    background:url(botoFons.gif) repeat-x center center;
    border:1px solid #006DA3;
    color:white;
    font-size:90%;
    font-family:Verdana, Helvetica, Arial, sans-serif;
    font-weight:bold;
    padding:0px 3px 2px 3px;
    *border:0px;
    *padding:2px 2px 2px 2px;}

input.text, 
input.password {
    font-size: 11px;
    padding: 0px 1px 1px 1px;
    border: 1px solid #FF6600; 
    background: url(fonsInput.gif) repeat-x;}
input.radio {
    margin-right:5px;   
    margin-bottom:-2px;
    margin-top: 2px;}
input.button {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    margin-bottom:5px;
    margin-top: 5px;
    padding: 0px 1px;}
.submitGo {
    width: 55px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: url(cerca_ca.gif) no-repeat right bottom;
    overflow: hidden;
    cursor: pointer;}
.submitLogin {
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: url(go.gif) no-repeat right bottom;
    overflow: hidden;
    cursor: pointer;}
button {
    background:url(botoFons.gif) repeat-x center center;
    border:1px solid #006DA3;
    color:white;
    font-size:90%;
    font-weight:bold;
    font-family:Verdana, Helvetica, Arial, sans-serif;
    padding:0px 3px 2px 3px;
    *border:0px;
    *padding:2px 2px 2px 2px;}
input.searchButton {
    background:White url(botoFons_cerca.gif) no-repeat center left;
    cursor:pointer;
    text-transform:lowercase;
    border:1px solid #006DA3;
    color:white;
    font-size:90%;
    font-weight:bold;
    padding:0px 3px 2px 17px;
    *border:0px;
    *padding:2px 0px 2px 14px;}
form.searchPage input.searchButton{
    background-position:0px 0px;
    padding:0px 3px 2px 17px;
    *background-position:center left;
    *padding:0px 0px 0px 14px;
    font-weight:normal;}
.template-login_form .context {
    font-weight:normal;}
form.searchPage {
	background:transparent url(fonsT.png) repeat-x scroll center bottom;
	border:1px solid #E6E6E6;
	padding:20px 10px 15px 10px;
    margin-bottom:20px;}
form.searchPage p.discreet{
	margin-bottom:0px;
	margin-top:10px;
	font-size:90%;}
input.searchField {
	background:transparent url(fonsInput.gif) repeat-x scroll 0% 0%;
	border:1px solid #FF6600;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	padding:3px 1px 1px;}

input[id="title"] {
	color:#CC0000;
	font-family:Arial,Helvetica,sans-serif !important;
	font-size:1.65em;
	font-weight:bold !important;}

input[id="description"] {
	color:#333333;
	font-size:100%;
	font-weight:normal;}

input {
	background:#ffffff url(input_background.gif) repeat-x scroll 0% 0%;
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
	color:#333;
	padding:1px 3px;
	font-family:Verdana,Helvetica,Arial,sans-serif;
	vertical-align:middle;
	visibility:visible;}	
select {
    font-family:Verdana,Helvetica,Arial,sans-serif;
    font-size:90%;}	
h1, h2, h3, h4, h5, h6 {
    color: #CC0000;
    font-family:Arial,Helvetica,Verdana,sans-serif;}
h1 {
    color:#CC0000;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1.5em;
    font-weight:bold;
    margin:0px;}
h1,h2{
    border-bottom:0px;
    line-height:1em;}
h3 {
	border-top:5px solid #E6E6E6;
	color:#4D4D4D;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:25px;
	padding-bottom:10px;
	padding-top:10px;}	
h2{
	border-top:5px solid #E6E6E6;
	color:#4D4D4D;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:25px;
	padding-bottom:10px;
	padding-top:10px;}
h1 {
	color:#CC0000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:1.65em;
	font-weight:bold;
	padding:0.2em 0.2em 0.2em 0px;
	position:static;}

h2.kssattr-atfieldname-title {
	border-top:0px solid #E6E6E6 !important;
	color:#CC0000;
	font-family:Arial,Helvetica,sans-serif !important;
	font-size:1.65em !important;
	font-weight:bold !important;
	padding:0.2em 0.2em 0.2em 0px !important;
	position:static !important;}
h2.kssattr-atfieldname-title .formControls { font-size: 0.75em;}

h1 > img {
	padding-right:3px;}

h4 {
    font-size:125%;}
h1, h2 {
    font-weight:bold;}	
#baner { 
	text-align:right;
	margin-bottom:10px;}
/************************************************************************************************************ PROVA BANNER GRIS TO BLAU ***************/
#baner img {  
	border: 1px solid #e6e6e6;  
	margin-bottom:10px;}
#baner img:hover {
	border: 1px solid #0076cc;  
	margin-bottom:10px;}
#visual-portal-wrapper{
    margin: 0px auto;
    padding: 0;
    width: 958px !important;}
	
	
	
	
	
	
/* CAPCALERA COMUNS */
.barraCerca{
    margin: 7px 3px 0px 0px;
    text-align: right;
    float:none;
}
.barraCerca img {
    vertical-align: baseline;}
.go {
    position:relative;
    top:4px;
    padding-left:5px;}
.quadradet {
    background-color:#FF6600; 
    margin-bottom:1px;
    width:4px;
    height:5px;
    vertical-align:baseline;}

.souA {
    margin: 5px 0px 40px 0px; 
	font-size:0.9em; 
	padding-left:8px;
    background:transparent url(fletxa4gris.png) no-repeat top left;}

.connexio {margin-top:-15px;}
.connexio a{margin-left:25px;}
.connexio b{color:#4D4D4D;}

/* CONTINGUT */
.contingut{
    text-align: left;
    line-height: 1.5em;}
.columnaEsq {
	float:right;
	margin:0px;}
.columnaCentre {
	padding-right:25px;
	width:558px;
	float:right;}
.columnaDreta {
    width: 150px !important;
    float: right;}
.iconesContingut {
    text-align:right;
    float:right;
    width:150px;}
.iconesContingut a{
    margin: 0px 5px;}
	
.columnaEsq #portlet200,	
.columnaEsq #caixaPortlet,
.columnaEsq #baix200 {
	margin-right:25px !important;
	width:200px !important;
}
.columnaEsq #caixaPortlet {_width:100px;}
.columnaEsq #caixaPortlet {
	width:198px !important;}
	
	
	
/* PEU */
#peu { 
    clear:both;
    float:none;
    margin-bottom:0px;}
.visualClear{
	margin-bottom:25px;
	*margin-bottom:0px;
	_margin-bottom:5px;}
#signText {
    line-height: 1.1em;
    font-size: 0.9em;
    border-top: 3px solid #ff6600;
    padding-top: 4px;
    margin-left: 25px;
    float:left;
    width:733px;}
.sobreElWeb {
    text-align:right;
    float:right;
    margin-top:-12px;}
html*.sobreElWeb {     
	margin-top:0px; 
       *margin-top:-12px;
       _margin-top:-12px;}
.bandaPeu {
    float:left;
    border-top: 18px solid #ff6600; 
    width:200px;
    margin-top:0px;}
#bandaLogos {
    line-height: 1.1em;
    font-size: 0.9em;
    border-top: 1px dashed #d96245;
    margin-left: 225px;
    vertical-align:middle;}
#bandaLogos img {
    margin-right: 15px;
    padding: 10px 0px;}


/* DIV CARPETA I CARPETA INTELLIGENT */
.divCarpeta {
    border-top: 1px dashed #999999;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    background:#ededed;
    background:url(fonsT.png) repeat-x bottom;
    margin: 10px 0px 0px 15px;
    padding: 5px;}
.divCarpeta ul li {
    padding: 0px 0px 0px 12px;
    margin: 5px 10px;
    background: url(quadret.gif) no-repeat top left;
    list-style-type: none;
    line-height:1.5em;
    border-bottom:0px;
    font-size:0.9em;}
.divCarpeta small {}
.divCarpeta p {
    line-height: 1em;
    margin-top:0px;
    margin-bottom:15px;}
.divCarpetaTitol {
    background:url(triangle.gif) no-repeat top left;
    font-size:1.2em;
    font-weight:bold;
    color:#CC0000; 
    padding: 8px 0px 5px 15px;}
.modificacio {
    color:#CC0000;
    text-align:right;
    font-size:0.9em;}

#portal-breadcrumbs {
    font-size:0.9em;
    border-bottom: 0px;
    padding-right:0em;
    line-height:1em;
    background:transparent url(fletxa4gris.png) no-repeat scroll left top;
    padding-left:8px;
    margin:5px 0px 15px;
    *margin:5px 0px 15px;}
#portal-breadcrumbs a {
	text-decoration:none;}
#portal-breadcrumbs a:hover {
	text-decoration:underline;}
#breadcrumbs-you-are-here{
	font-weight:bold;}
.barraCerca { 
	text-transform: lowercase; }
#searchGadget {
	font-family:Verdana, Arial, Helvetica, sans-serif;
    background:transparent url(fonsInput.gif) repeat-x scroll 0%;
    border:1px solid #FF6600;
    font-size:11px;
    padding:0px 1px 1px;}
.LSBox {
    float: right;
    margin: 0px !important;
    padding-right:0px;
    padding-left:3px;
    *padding-left:0px;
	_padding-left:0px;}
#livesearchLegend {
    border:0px;
    background:transparent url(liveSearchFletxa.gif) no-repeat right top;
    *background:transparent url(liveSearchFletxa.gif) no-repeat center 14px;
    _background:transparent url(liveSearchFletxa.gif) no-repeat center 13px;
    line-height:0em;
    margin-top:-5em;
    padding:7px 70px;
    font-size:0.0em;
    z-index:1000;
    *margin-bottom:0px;
	*padding-top:40px;
    *float:right;
    *width:140px;
    *height:14px;}
.livesearchContainer {
    background:none;
    border:0px solid #666666;
    color:#333333;
    font-family:Verdana,Arial, Helvetica,sans-serif;
    margin:0px;
    margin-top:0.35em;
    padding:0pt !important;
    position:absolute;
    right:0px;
    text-align:left;
    text-transform:none;
    top:0pt;
    visibility:visible;
    white-space:normal;
    width:24.3em;
	_color:transparent;}
html .livesearchContainer {
    padding: 0px !important;
    background-color: transparent;}
#LSHighlight,
.LSHighlight {
    background-color: transparent;
    border: 0px;
    color: transparent;}
.LSTable {
    margin: 10px 0px 0px 0px;
	_padding:0px 10px;}
.LSResult { 
    left:0px;
    margin:0px;
    display:block;
    padding-top:0px;
    position:relative;
    text-align:right;
    z-index:3;}
.LSIEFix {
    border:1px solid #666;
    background:#f9f9f9 url(fonsTG.png) repeat-x scroll center bottom;}
.LSRow {
    border:0px;}
.LSRow img {
    float:right;
    vertical-align:middle;}
.LSRow .discreet {
    margin:0px;}
.LSRow div.discreet {
    border-bottom:1px dotted #e6e6e6;
    padding-bottom:3px;
    margin-bottom:3px;
    margin-left: 0px !important;}
.LSRow span.discreet {
    font-size:90%;}
.LSShadow {
	white-space:normal !important;
	line-height:0em;}
.image-inline {
	border:0px solid #999999;
    padding:3px;}
.barra_idiomes {
    font-size:0.9em;
    padding-top:0px;
	*font-size:0.85em;
    *padding-top:0px;
	_font-size:0.85em;
    _padding-top:0px;
    _margin-right:3px;}






/* AFEGITS del custom.css */
.documentEditable .documentContent {
    border:0px solid #666666; 
    border-bottom: 0px solid #e6e6e6;
    border-top:1px solid #666666;
    padding-top:10px !important; }
.contentViews li a {
    color:#0077cc;
    border:1px solid #666666;}
.contentViews {
    background-color:transparent;
    border-color:#666666;}
.contentActions li {
    border-left:1px solid #666666;}
.contentActions {
    background-color:#EDEDED;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
    color:#666666;}
.contentViews li a:hover {
    background-color:#ededed;
    background:#ededed url(taulaMenu_bg_on.gif) repeat-x bottom left;
    color:#666666;}
.contentViews .selected a {
    background-color:#ededed;
    background:#ededed url(taulaMenu_bg_on.gif) repeat-x bottom left;
    border-bottom:1px solid #ededed;
    color:#666666;}
.actionMenu .actionMenuContent ul {
    background:#ededed none repeat scroll 0% 50%;
    border-color:#666666;}
.actionMenu .actionMenuContent li a:hover {
    background-color:#cccccc;
    color:White;}
.actionMenu .actionMenuContent .actionSeparator a {
    border-top:1px solid #666666;}
	
	
	
	
	
	
	
	
/* TAULES DE CONTINGUT */
table.listing th, 
.stx table th {
    background:#ededed none repeat scroll 0% 50%;
    border-bottom:1px solid #666666;
    border-right:1px solid #666666;
    border-top:1px solid #666666;
    font-weight:normal;
    padding:0.25em 0.5em;
    text-transform:lowercase;
    font-size:1.1em; }
table.listing td, 
.stx table td {
    border-right:1px solid #666666;}
table.listing, 
.stx table {
    border-bottom:1px solid #666666;
    border-left:1px solid #666666;}
.even {
	background-color:#f1f1f4;}
.state-published {
	color:#0076cc !important; }
.state-private {
	color:crimson !important;
	background: none !important;}
span.state-private, 
td.state-private {
	background:none !important;}
a span.state-private {
	background: none !important;}
.state-pending {
	color:orange !important;
	background: none !important;}
span.state-pending, 
td.state-pending {
	background-image:none !important;}
a span.state-pending {
	background: none !important;}
.state-intranet {
	color: #00b7f6 !important;
	background: none !important;}
span.state-intranet, 
td.state-intranet {
	background:none !important;}
a span.state-intranet {
	background: none !important;}






/* MISSATGE INFO SENSE IMATGE */
dl.portalMessage dt {
    background-color:transparent;
    float:left;
    line-height:1.25em;
    margin:0pt 0.5em 0pt 0pt;
    padding:0.5em 0.75em;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.25em;
    font-weight:bold;
    padding:4px 10px 5px 30px;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
	_border-bottom:0px solid #ddd;}
#dashboard-info-message {
    padding:0em 0em 0.3em 0em;padding-top:0em;}
dl.portalMessage {
    border:1px solid #ddd;
    font-size:100%;
}
.visualClear {
    clear:both;
    display:block;}
dl.portalMessage dd {
    line-height:1.25em;
    margin:0pt;
    padding:0.55em 0.5em;
    _padding:0.6em 0.5em 0.55em;}
.info{
	background-color:#f2f6fa !important; }
.info dt{
    color:#00589a !important; 
    background:url(info_message.gif) no-repeat bottom left #f9f9f9;}
.warning{
    background-color:#fdfbf3 !important; }
.warning dt, dl.warning dt{ 
    color:#333333 !important; 
    background:url(alert_message.gif) no-repeat bottom left #f9f9f9 !important;}
dl.warning dd {
    background-color:#fdfbf3 !important;}
.error{
	padding-top:0em !important;
	background-color:#fcf4f2 !important;}
.error dt{ 
    color:#c63103 !important;
    background:url(error_message.gif) no-repeat bottom left #f9f9f9;}
dl.error dd {
    background-color:#fcf4f2 !important;}
.documentContent dd a:visited {
	background-color:transparent;
	color:#0076cc;}
.documentContent dd a:active {
	background-color:transparent;
	color:#0076cc;}
.documentContent dd a:link {
	background-color:transparent;
	color:#0076cc;}
.documentContent dd a:hover {
	background-color:transparent;
	color:#0076cc;
	text-decoration:underline;}




/* ANULLACIO DALGUNS ESTILS DE PLONE EN ENLLACOS */
ul.configlets li a:visited {
    color:#0076CC;}
ul.configlets li a:hover {
    text-decoration:underline;}








/* CANVI DELS BOTONS DE PLONE */
.context, .formControls .actionButtons .button, .documentEditable * .context {
    background:url(botoFons.gif) repeat-x center center;
    border:1px solid #006DA3;
    color:white;
    font-size:90%;
    padding:0px 3px 2px 3px;
    font-weight:bold;
	*border:0px;
    *padding:2px 2px 2px 2px;}
.standalone, .documentEditable * .standalone {
    background:url(botoFonsClar.gif) repeat-x center center;
    border:1px solid #8dcde3;
    color:#333;
    font-size:90%;
    padding:0px 3px 2px 3px;
    font-weight:bold;
    *border:0px;
    *padding:2px 2px 2px 2px;}
.destructive, .documentEditable * .destructive {
    background:url(botoFonsAlert.gif) repeat-x center center;
    border:1px solid #e3a38d;
    color:#333;
    font-size:90%;
    font-weight:bold;
    padding:0px 3px 2px 3px;
	*border:0px;
    *padding:2px 2px 2px 2px;}
#login-form input.context {
	background-position:center center;
	margin-bottom:0em;
	padding:0px 15px 2px 15px;
	*padding:0px 0px 2px 0px;
	_padding:0px 0px 2px 0px;}








/* COMMUTA AMB VOLUM */
.optionsToggle {
    background:transparent url(commuta.gif) no-repeat scroll left 2px;
    border:0px;
    color:#999999;
    font-size:85%;
    font-weight:bold !important;
    left:-4px;
    padding:5px 4px 3px;
    position:relative;
	*background:transparent url(commutaIE7.gif) no-repeat scroll 2px 3px;
	_background:white url(commutaIE6.gif) no-repeat scroll 0px 0px;
    _left:0px;}
#content a[href^="http:"], #content a.link-external {
    background: none;
    padding: 0px;
}
#portal-column-content {
	margin:0em;
	padding:0em;}
#portal-personaltools, .visualInline, #portal-personaltools-wrapper {
	background-color:transparent;}
abbr, acronym, .explain {
	background-color:transparent;
	border-bottom:0px dashed #0076CC;
	color:#333;}
abbr span {
	display: block;}
.documentContent dd a {
	border-bottom:0px solid #CCCCCC;
	text-decoration:none;
	color:#0077cc;}
.documentContent dd a:hover {
	text-decoration:underline;}

dl.collapsible {
	border:0px solid #e6e6e6 !important;
	padding:0pt;}
table.listing th {
	font-size: 0.9em;}
.expandedInlineCollapsible{
	border:1px solid #e6e6e6 !important;
	margin:1em;}
.collapsedInlineCollapsible{
	border:0px solid #e6e6e6 !important;
	margin:1em 0em;}
#history{
	margin:0em 1em 1em 1em;}
.reviewHistory, .contentHistory {
	color:#4d4d4d;
	float:left;
}
dl.collapsible dt.collapsibleHeader {
	margin:0pt 0pt 0em -1em;}
dl.collapsedInlineCollapsible {
	border:0px !important;
	margin-bottom:10px !important;
	padding-bottom:0px !important;
	display:block;}
.expandedInlineCollapsible{
	margin-bottom:-15px !important;
}
#history .listing {
margin-bottom:25px;
}
#portal-columns{
	margin-bottom:20px;}
#region-content, .documentContent{
	padding:1em 0em !important;}
.documentEditable {
	margin:0em; padding:0px !important;margin-top:20px;}
#content{
	margin: 0px;}
#fieldset-default{
	margin-bottom:10px;}
.documentContent p a, .documentContent p a:link, .documentContent p a:active, .documentContent p a:visited {
	border-bottom:0px solid #CCCCCC;
	text-decoration:none;
	color:#0077cc;}
.documentContent p a:hover {
	text-decoration:underline;
	color:#0077cc;}
.discreet{ 
	margin-bottom:25px;
	margin-top:0px;
	padding-top:0px;
	color:#333;
	font-size:100%;
	font-weight:normal;}
.documentContent ol {
	margin:0.5em 0pt 0pt 1.75em;
	*margin:0.5em 0pt 0pt 2.15em;}
.documentContent ul {
	list-style-image:none;
	list-style-type:none;}
.columnaDreta #portlet200{
	background:transparent url(bar150.gif) no-repeat scroll center top;
	width:150px;}
.columnaDreta #baix200 {
	background-image:url(baix150.gif);
	width:150px;}
.formHelp {
	color:#b8b8b8;
	font-size:90%;
	margin:0pt 0pt 0.2em;}
.formHelp:hover {
	color:#333;
	cursor:default;}
.validacio label{
	color:#4d4d4d;}
.card {
	background:transparent url(/fonsT.png) repeat-x scroll center bottom;
	border:1px solid #e6e6e6;
	float:left;
	margin:1em;
	padding:1em 0pt;
	text-align:center;
	width:110px;}
.kssattr-atfieldname-title input {
	color:#CC0000;
	font-family:Arial,Helvetica,sans-serif !important;
	font-size:1.65em;
	font-weight:bold !important;}
.kssattr-atfieldname-description textarea {
	color:#333333;
	font-size:100%;}

.formPanel {
	border: 1px solid #e6e6e6;}
.formTab a:hover {
	text-decoration:none;}
li.formTab a.selected {
	background: #f1f1f4;}
li.firstFormTab a {
	border-left:1px solid #e6e6e6;}
li.formTab a {
	background:White none repeat scroll 0%;
	border-bottom:1px solid #e6e6e6;
	border-left:1px dotted #e6e6e6;
	border-top:1px solid #e6e6e6;
	margin:0pt;
	padding:0.125em 0.75em;
	text-decoration:none;}
li.lastFormTab a {
	border-right:1px solid #e6e6e6;}
li.formTab a:hover {
	background:#e6e6e6;}

.actionMenuHeader a:hover{
	text-decoration:none;}
.actionMenuHeader a:hover {
	background:#cccccc;}
.actionMenuContent a:hover {
	text-decoration:none;}
.actionSeparator a {
	border-top:1px dotted #999 !important;}
.kupu-tb {
	background-color:#e6e6e6;
	border:1px solid #ccc;
	margin:0pt;
	padding-bottom:0px;
	width:100%;}
.kupu-tb {
	background:transparent url(fonsT.png) repeat-x scroll center bottom;
	border-color:#ccc;
	margin-bottom:0.4em;
	padding:3px 3px 0px 3px;}
.kupu-tb-buttons button {
	border:1px solid white;}
span.kupu-tb-buttons button:hover {
	border:1px solid Gray;
	cursor:pointer;}
iframe.kupu-editor-iframe {
	border-color:#e6e6e6;
	background:transparent url(fonsInput.gif) repeat-x scroll 0% 0%;
	width:100.9%;}
iframe.kupu-editor-iframe:active {
	border-color:#e6e6e6;
	background:transparent url(fonsInput.gif) repeat-x scroll 0% 0%;
	width:100.9%;}
#login-form {
	width:500px;}
#login_form {
	margin:20px auto;}
#forgotten-password{
	border-left:3px solid #ff6600;
	padding: 0px 0px 0px 10px;
	margin:5px 0px 0px 0px;}
#forgotten-password h3{
	color: #cc0000;
	font-size: 1.65em;
	padding:0px;
	margin:0px 0px;
	line-height:1.15em;
	border:0px;}
#forgotten-password p{
	margin:3px 0px 0px 0px;}
#forgotten-password a, #forgotten-password a:active, #forgotten-password a:link, #forgotten-password a:visited{
	color: #0077cc;
	text-decoration:none;}
#forgotten-password a:hover{
	color:#0077cc;
	text-decoration:underline;}
#Type_criteria, 
#Title_criteria, 
#Subject_criteria, 
#start_criteria, 
#sortable_title_criteria, 
#SearchableText_criteria, 
#review_state_criteria, 
#path_criteria, 
#modified_criteria, 
#getRawRelatedItems_criteria, 
#getId_criteria, 
#expires_criteria, 
#end_criteria, 
#Description_criteria,
#effective_criteria,
#Creator_criteria, 
#created_criteria {
	font-size:100%;}
ul.configlets li + input > li {
	background:none;
	border-bottom:0pt;
	line-height:1.5em;
	list-style-type:none;
	margin:0px;
	padding:0px;}
table.listing, .stx table {
	border-collapse:collapse;
	font-size:100%;}

table.listing tbody th {
	font-weight:bold;
	font-size:90% !important;}
table.listing {
	font-size:85%;}

.template-zmi_docs .contents {
	border:1px solid #e6e6e6;
	background:white;
	float:right;
	font-size:90%;
	margin:0pt 0pt 0.5em 0.5em;
	padding:0px 0px 10px 10px;
	width:30%;}
.template-zmi_docs .topic-title {
	background-color:white !important;
	border-bottom:0px solid #e6e6e6;
	font-weight:normal;
	line-height:1.6em;
	margin-top:0pt;
	padding:5px 0px;
	text-transform:lowercase;
	font-weight: bold;}
td.draggable:hover {
	background: #E0CECE;}
tr.dragging td{
	background:#DFE3D3 !important;}
ul.formTabs {
	display:block;
	list-style-type:none;
	margin:0px 0px -26px 0px;
	padding:0pt;
	position:relative;
	text-align:center;
	*margin:0px 0px -25px 0px;
	_margin:0px 0px -25px 0px;}
.context + br + .context, button + br + button {margin-top:5px;}
img.sortdirection {
	width:10px !important; 
	height:7px !important;}
.fieldRequired {
	background:transparent url(required.gif) no-repeat scroll left center;
	color:#999;
	font-size:83%;
	text-transform:lowercase;
	font-variant:small-caps;
	padding:0pt 0pt 1pt 8px;}









/* esdeveniments */
dl dd {margin-left:20px;}
#parent-fieldname-text {
	margin: 15px 0px 25px 0px;}
.eventDetails {
	clear:none;
	float:right;
	margin:5px 10px 10px 10px;
	min-width:300px;
	max-width:400px;}
/*EVENT task*/
.vertical{
	min-width:300px;
	max-width:400px;
	background:transparent url(fonsT.png) repeat-x scroll center bottom;
	border: 1px solid #ccc !important;
	border-top: 2px solid #ccc !important;
	margin-bottom:0.4em;
	padding:3px 3px 0px 3px;}
.vertical tbody, .vertical td, .vertical tr, .vertical th {
	border:0px !important;
	background: transparent none !important;
	vertical-align:top;}
.vertical th{
	font-family:Arial,Helvetica,Verdana,sans-serif;
	font-size:125% !important;
	color:#ccc;
	text-align:right;
	text-transform: capitalize !important;
}
.relatedItems{
	clear:both;
}
/* photoalbum */
.photoAlbumEntry {
background-image:url(pollaroid.gif);
background-repeat:no-repeat;
float:left;
height:185px;
margin:0;
padding:0 6px 0 9px;
text-align:center;
width:143px;
}


/* kupu */
div.kupu-drawer {
background-color:#ffffff;
border:1px solid #ccc;
font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}
div div.kupu-panels {
background-color:transparent;
}
div.kupu-panels {
background-color:transparent;
}
.kupu-dialog-button {
    background:url(botoFons.gif) repeat-x center center;
    border:1px solid #006DA3;
    color:white;
    font-size:90%;
    padding:0px 3px 2px 3px;
	text-transform:lowercase;
    *border:0px;
    *padding:2px 2px 2px 2px;
}
ul.kupu-tabs li {
	background-color:#ededed;
	border:1px solid #333;}
div#kupu-librariesitems {
	border-right:2px dotted #ededed;
	width:120px;}
div#kupu-resourceitems {
	border-right:2px dotted #EDEDED;
	width:190px;
}
.kupu-tabledrawer {
left:auto;
width:408px;
}
.kupu a {
border-bottom:0px solid #CCCCCC !important;
color:#0077cc !important;
text-decoration:none !important;
}
.kupu a:hover {
border-bottom:0px solid #CCCCCC !important;
color:#0077cc !important;
text-decoration:underline !important;
}



/* mapa del lloc */
#portal-sitemap .navTreeLevel2 {
border-left:0em;
margin:0em;
padding-left:0em;
}
#portal-sitemap .navTreeLevel2 li{
background:transparent url(quadret.gif) no-repeat scroll left 3px;
border-bottom:0px;
font-size:0.9em;
line-height:1.5em;
list-style-type:none;
margin:5px 1px;
padding:0 0 0 10px;
}
ul#portal-sitemap li:first-child {
border-top:0px dashed #333333;
}
.navTreeLevel2{
font-size: 1.1em;
}
.navTreeLevel3{
font-size:1.0em;
}
#portal-sitemap .navTreeLevel3 li {
margin-left:5px;
padding-left:10px;
padding-top:2px;
}




/* search results */
.searchResults{
font-size:0.7em;
}
.searchResults dt:first-child{
margin-top:25px;
}
.searchResults dd{
font-size:1.35em;
margin-bottom:0px;
}
.searchResults dt{
margin-top:10px;
}
h1 span.discreet {
font-size:0.75em;
font-weight:bold;
color:#4d4d4d;
}

/* vista resum */
.tileHeadline {
border:0px;
font-family:Arial,Helvetica,sans-serif;
font-size:1.3em;
font-weight:bold;
margin:0px;
padding:0px;
background:transparent url(arrowRight.gif) no-repeat scroll left 3px;
padding: 0px 0px 0px 15px;
}
.visualClear{
margin-bottom:10px;}
.summary {
color:#0077cc !important;
}
.tileItem {
background:#F7F7F7 url(fonsTG.gif) repeat-x scroll center bottom;
border-color:#CCCCCC #E6E6E6 #E6E6E6;
border-style:solid;
border-width:2px 1px 1px;
margin:15px 0;
padding:10px 10px 0px 10px;
}
.tileFooter{
background: transparent url(plus.gif) no-repeat scroll left 4px;
padding: 0px 0px 0px 15px;
margin-top:15px;
}
/* vista estandard */
dl dt span.summary {
background:transparent !important;
padding:0 0 0 0px;
}
.template-folder_extended #content dl, .template-folder_listing #content dl{
	background:#F7F7F7 url(fonsTG.gif) repeat-x scroll center bottom;
	border-color:#CCCCCC #E6E6E6 #E6E6E6;
	border-style:solid;
	border-width:1px;
	padding:10px 10px 0px 10px;
	_padding:10px;}
.template-folder_extended #content dl dt, .template-folder_listing #content dl dt{
	padding-left:10px;
	background: transparent url(fletxa.gif) no-repeat left 2px;
	font-weight:normal;}
.template-folder_extended #content dl dd, .template-folder_listing #content dl dd{
	margin: 0px 10px 15px 10px;
	font-size:90%;}
.template-folder_extended #content dl dt img, .template-folder_listing #content dl dt img{
	float:right;
	visibility:hidden;}
.template-folder_extended #content dl dt .documentByLine, .template-folder_listing #content dl dt .documentByLine {
	display:block;}


.ultimamodificacio{
	margin-top:5px;
	padding-top:5px;
	border-top:5px solid #e6e6e6;
	padding-bottom: 10px;
	text-align:right;
	color: #cc0000;
	font-size:90%;
	clear:both;}
.formControls {
	margin-top:15px;
}
/* ajusta columnes */
[style="float: left; margin-right: 1em; width: 29%;"]{
	margin-right:3.5em !important;
}

/* linkfeed afegeix icona i tal */
.link-feed{
background: transparent url(rss.gif) no-repeat left 1px;
padding-left:14px;
font-size:90%;
}
/* modificacio menu vistes amb imatges */
#plone-contentmenu-display #folder_summary_view{
	background-image: url(vista_res.gif);
	background-repeat: no-repeat;
	background-position: 5px 1px;
	padding-left:25px;
}
#plone-contentmenu-display #folder_tabular_view{
	background-image: url(vista_tab.gif);
	background-repeat: no-repeat;
	background-position: 5px 1px;
	padding-left:25px;
}
#plone-contentmenu-display #atct_album_view{
	background-image: url(vista_img.gif);
	background-repeat: no-repeat;
	background-position: 5px 1px;
	padding-left:25px;
}
#plone-contentmenu-display #folder_listing{
	background-image: url(vista_est.gif);
	background-repeat: no-repeat;
	background-position: 5px 1px;
	padding-left:25px;
}
#plone-contentmenu-display #homepage{
	background-image: url(vista_ini.gif);
	background-repeat: no-repeat;
	background-position: 5px 1px;
	padding-left:25px;
}
#plone-contentmenu-display #folder_extended {
background-image:url(vista_ext.gif);
background-position:5px 1px;
background-repeat:no-repeat;
padding-left:25px;
}
#plone-contentmenu-display #atct_topic_view {
background-image:url(vista_col.gif);
background-position:5px 1px;
background-repeat:no-repeat;
padding-left:25px;
}
#plone-contentmenu-display #board_view_global{
background-image:url(forum_global.gif);
background-position:5px 1px;
background-repeat:no-repeat;
padding-left:25px;
}

#plone-contentmenu-display #board_view{
background-image:url(forum_taula.gif);
background-position:5px 1px;
background-repeat:no-repeat;
padding-left:25px;
}

#plone-contentmenu-display #poi_tracker_view{
background-image:url(vista_iss.gif);
background-position:5px 1px;
background-repeat:no-repeat;
padding-left:25px;
}

/* modificacio menu estat amb imatges */
#plone-contentmenu-workflow #workflow-transition-reject, #plone-contentmenu-workflow #workflow-transition-hide, #plone-contentmenu-workflow #workflow-transition-close, #plone-contentmenu-workflow #workflow-transition-complete{
	background-image: url(bullet_red.png);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	padding-left:25px;
}
#plone-contentmenu-workflow #workflow-transition-retract{
	background-image: url(bullet_blue.png);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	padding-left:25px;
}
#plone-contentmenu-workflow #workflow-transition-submit {
	background-image: url(bullet_orange.png);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	padding-left:25px;
}
#plone-contentmenu-workflow #workflow-transition-publish, #plone-contentmenu-workflow #workflow-transition-open, #plone-contentmenu-workflow #workflow-transition-review {
	background-image: url(bullet_green.png);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	padding-left:25px;
}
#plone-contentmenu-workflow #workflow-transition-make_freeforall{
	background-image: url(forum_lliure.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	padding-left:25px;
}
#plone-contentmenu-workflow #workflow-transition-make_moderated{
	background-image: url(forum_moderat.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	padding-left:25px;
}
#plone-contentmenu-workflow #workflow-transition-make_private{
	background-image: url(forum_privat.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	padding-left:25px;
}




#plone-contentmenu-translate #translate_into_en {
	background-image:url(en_lang.gif);
	background-position:5px 1px;
	background-repeat:no-repeat;
	padding-left:25px;}
#plone-contentmenu-translate #translate_into_es {
	background-image:url(es_lang.gif);
	background-position:5px 1px;
	background-repeat:no-repeat;
	padding-left:25px;}
#plone-contentmenu-translate #translate_into_ca {
	background-image:url(ca_lang.gif);
	background-position:5px 1px;
	background-repeat:no-repeat;
	padding-left:25px;}

.template- h1.documentFirstHeading img{
	width: 23px !important;
	height: 21px !important;
}
.formHelp img {
	width: 16px !important;
	height: 16px !important;
}

#content a[href^="https:"], 
#content a.link-https {
	background:transparent url(lock_icon.gif) no-repeat scroll -2px 0;
	padding:1px 0px 1px 14px;}
#content .columnaEsq a[href^="https:"], 
#content .columnaEsq a.link-https, 
#content .columnaDreta a[href^="https:"], 
#content .columnaDreta a.link-https {
	*background:transparent url(lock_icon.gif) no-repeat scroll -2px 5px;}
#content a[href^="https://devel.upcnet.es/neutre3"] {
	background:transparent none repeat scroll 0 0;
	padding:0;}
#content .columnaEsq a[href^="https://devel.upcnet.es/neutre3"], 
#content .columnaDreta a[href^="https://devel.upcnet.es/neutre3"],{
	background:transparent none repeat scroll 0 0;
	padding:0;}
#portal-personaltools b span{
	color:#4d4d4d;}

/** per mes preferencia que en els portlets */
table.vertical tbody th {
font-size: 150% !important;
width:100px;
}
table.vertical .summary {color: #333 !important;}
.fletxatop{text-align:right; margin-bottom:0px;padding-right:2px;}


/*correccio menus dins collage*/


.collage-item dl dt img{ float:right;}
.collage-item dl {
background:#F7F7F7 url(fonsTG.gif) repeat-x scroll center bottom;
border-color:#CCCCCC #E6E6E6 #E6E6E6;
border-style:solid;
border-width:1px;
padding:10px 10px 0;
}
.collage-item dl dt{
background:transparent url(quadretGris.gif) no-repeat scroll left 0;
font-weight:bold;
padding-left:10px;
}
.collage-item dl dd{
margin-left:10px;
margin-right:25px;
}



/** per si de cas hi ha interferencies */
a{color:#0077cc;text-decoration:none;}
a:active{color:#0077cc;text-decoration:none;}
a:link{color:#0077cc;text-decoration:none;}
a:visited{color:#0077cc;text-decoration:none;}
a:hover{color:#0077cc;text-decoration:underline;}
a img{text-decoration:none;}
a:hover img{text-decoration:none;}
a:hover br{text-decoration:none;}


/*************************** MENU LATERAL ******************************/
.titolSeccio{
    background:url(submenuFons.png) no-repeat #ededed;
    width: 197px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:#FFFFFF;
    font-size:1.75em;
    font-weight:bold;
    padding:15px 0px 0px 3px;
    margin-top:18px !important;
    *margin-top:15px;}
html*.titolSeccio{
    margin-top:15px !important;
}
.titolSeccio .textetSeccioneta {
    line-height: 1.1em;}
.flotaTapa {
    background-color:#FFFFFF;
    height: 8px;
    margin-top:-4px;
    margin-bottom:-4px;}
ul.navTree {
    margin: 5px 0px 0px 0px;
    position: relative;}
ul.navTreeLevel0 {
    border-top:1px dashed #333333;}
ul.navTreeLevel0 li{
    border-bottom: 1px dashed #333333;}
ul.navTree div{ color:#0076cc; }
ul.navTree li div a img {float:right;}
ul.navTree{ padding: 0px;}
ul.navTree li, .navTreeLevel0 {
    padding: 5px 0px 5px 20px;
    margin: 0px 0px;
    background: url(custom/fletxaGo.gif) no-repeat top left;
    list-style-type: none;
    line-height:1.5em;}
ul.navTreeLevel0 > li.navTreeCurrentNode, ul.navTreeLevel0 > li.navTreeItemInPath { /*assegurem-nos que funciona*/
background:#f8f8f8 url(FletxaGoDown.gif) no-repeat scroll left top !important;
line-height:1.5em;
list-style-type:none;
margin:0;
padding:5px 0 5px 20px;
}
/*
.navTreeCurrentItem {
background:#f8f8f8 url(fletxaGo.gif) no-repeat scroll left top !important;
}
*/

ul.navTree li ul li, .navTreeLevel11, .navTreeLevel1, .NavTreeItem {
    padding: 0px 0px 0px 10px;
    margin: 5px 1px;
    background: url(quadret.gif) no-repeat left 3px !important;
    list-style-type: none;
    line-height:1.5em;
    border-bottom:none;
    font-size:0.9em;}
.navTreeItem {
    font-size:1.0em;
    font-weight:normal;
}
.navTreeItem a:hover, 
dd.portletItem .navTreeItem a:hover {
    text-decoration:underline;}
.navTreeCurrentItem {
    font-weight:bold;}
.navTreeItemInPath {
    font-weight:bold;}
#portal-sitemap {
	background: none !important;
	padding: 0px;}

/*colleccio*/
.listingBar {
	font-size:11px;
	background:#F7F7F7 url(fonsTG.gif) repeat-x scroll center bottom;
	border-color:#E6E6E6;
	border-style:solid;
	border-width:1px;
	padding:5px 0px;}
.listingBar .next {
	background:transparent url(fletxaD.gif) no-repeat scroll right bottom;
	padding-right:15px;
	float:right;}
.listingBar .previous {
	background:transparent url(fletxaE.gif) no-repeat scroll left bottom;
	padding-left:15px;
	float:left;}
.listingBar a {
	margin: 0px 3px;}
.template-atct_topic_view .listing {font-size:1em;}
.template-atct_topic_view .listing td img{padding-right:10px;}
.template-atct_topic_view .listing th img{padding-left:5px;}
.template-atct_album_view #content dl {
	background:#F7F7F7 url(fonsTG.gif) repeat-x scroll center bottom;
	padding:5px 10px;
	border:1px solid #E6E6E6;}
.template-atct_album_view #content dl dd{
	margin-bottom:5px;}
.template-atct_album_view #content dl dt{
	border-top:1px dashed #e6e6e6;
	padding-top:5px;}
.template-atct_album_view #content dl dt:first-child{
	border-top:0px;}
#content .listing{
	width:100%;}

/*anulla rareses a history*/
#content dl#history, #content dl#history{
	background:transparent;
	padding:0px;
	margin:0px 1em 1em 1em;}
#content dl#history dd, #content dl#history dd{
	margin: 0px;}
#content dl#history dt, #content dl#history dt{
	background:transparent url(treeCollapsed.gif) no-repeat scroll 6px 50%;
	cursor:pointer;
	display:inline;
	float:none;
	line-height:1em;
	margin:0px;
	padding:0 0 0 22px;
	position:static;}
#content dl#history .listing{
	width:auto;}
/*separador sou a*/
.breadcrumbSeparator {
	font-size:100%;
	color:#666;}

/*chooser-right*/
.chooser-right {padding-top: 10px !important;}

/*categoria i etiqueta*/
#category {
	border:1px solid #f1f1f1;
	background: #f9f9f9;
	padding: 3px;
	margin: 1em 0em;
}
#content .link-category {
	color:#D96245 !important;/*espe2*/}

/*autor, collaboradors, copyright*/
#plone-document-byline {
	padding-bottom:0.5em;
	margin-bottom:1em;}

/*ajustaments vista resum*/
.tileImage {
border:1px solid #e6e6e6;
float:right;
padding:3px;
background:white;
margin:0 0 0.5em 0.5em;
}
.link-plain {color:#0077cc !important;}


/*ajustamnets finals FCK*/
#btnOk {
    background:url(botoFons.gif) repeat-x center center !important;
    border:1px solid #006DA3 !important;
    color:white !important;
    font-size:90% !important;
    font-family:Verdana, Helvetica, Arial, sans-serif !important;
    font-weight:bold !important;
    padding:0px 3px 2px 3px !important;
    *border:0px !important;
    *padding:2px 2px 2px 2px !important;}
#btnCancel {
    background:url(botoFonsClar.gif) repeat-x center center !important;
    border:1px solid #8dcde3 !important;
    color:#333 !important;
    font-size:90% !important;
    padding:0px 3px 2px 3px !important;
    font-weight:bold !important;
    *border:0px !important;
    *padding:2px 2px 2px 2px !important;}
.PopupTitle {
    font-size: 18px !important;
    font-family: Arial, Helvetica, Verdana, sans-serif;}

/*revisio documents*/
#diff-table {margin-top:10px !important;}

/*revisio contenidor noticies i agenda*/
#contenidor{ margin-top:20px;}
.agendaDalt{ margin-top:20px;}

/*contacte*/
div.contacte {padding:10px !important; margin-bottom:10px;}
div.contacte h5 {color:#666;margin:0px !important;}
div .contacteSpan {float:left; width:70px; text-align:right; margin-right:15px;font-weight:bold; color:#666; margin-left:20px;}
div.contacte div.contacteSpan {float:left; width:70px; text-align:right; margin-right:15px;font-weight:bold; color:#666; margin-left:10px;}
div.contacte div, div.contacte h5 {padding-bottom:5px;}
/*
.iframeContacte span {float:left; clear:left;}
.iframeContacte iframe {width:853px; margin-left:105px;}
*/
/*div span.contacteSpan {display:block;}*/
/*form fieldset {margin-top:0px !important; padding-top:0px !important;}*/


/*ajustaments visuals de genweb settings*/
div.value {margin-bottom:20px !important;}
table.ordered-selection-field {margin-bottom:10px !important;}
fieldset#fieldset-genWebControlPanelinformacio input,  fieldset#fieldset-genWebControlPanelsabors input {width:700px;}
fieldset#fieldset-genWebControlPanelespecifics input {width:100px;}
fieldset#fieldset-genWebControlPanelinformacio div.field {margin-bottom:5px;}
fieldset#fieldset-genWebControlPanelinformacio input#form.titolespai_en {padding-bottom:20px; !important}
.widget input {margin-bottom:3px !important;}
input[id="form.especific2"],input[id="form.especific4"],input[id="form.especific6"] {margin-bottom:15px !important;}
input[id="form.titolespai_en"], input[id="form.firmaunitat_en"] {margin-bottom:15px !important;}
select[id="form.columna1.from"],select[id="form.columna1.to"],
select[id="form.columna2.from"],select[id="form.columna2.to"],
select[id="form.columna3.from"],select[id="form.columna3.to"] {
	min-width: 250px;}
select[id="form.theme"] {min-width:200px;}
select[id="form.tipusintranet"] {min-width:100px;}

fieldset#fieldset-genWebControlPanelinformacio input[id="form.boolmaps"] {width:15px !important;}
fieldset#fieldset-genWebControlPanelinformacio label[for="form.boolmaps"] {font-weight:normal !important;}

/*escriptori*/
#dashboard {width:958px;}
#dashboard-portlets1, #dashboard-portlets2, #dashboard-portlets3 {
	float:left;
	padding:0em 26px 0 0;
	width:220px;
}
#dashboard-portlets4 {width:220px;}
div#dashboard > div > div {border:1px solid #ccc; margin-bottom:20px; background: #ffffff url(fonsT.png) repeat-x bottom left;}
div#dashboard > div > div > dl {margin-top: 0px;}
div#dashboard dd.portletItem form{margin-right:25px !important; padding-top:10px;}
div#dashboard dt.portletCalendar dt.portletHeader a {}
div#dashboard #banners a {margin:5px auto !important; align:center !important; display:block; border:1px solid #ccc; width:147px;margin-left:35px !important;}
div#dashboard #banners a:hover {border:1px solid #007dcc;}
div#dashboard table.ploneCalendar {border:1px solid #ccc; margin:5px 25px;}
div#dashboard table.ploneCalendar td {text-align:center;}
div#dashboard dl.portletCalendar dt a {float:none !important;}
div#dashboard dl.portletCalendar dt.portletHeader {text-align:center;}
div#dashboard .portletItem {border-top:0px;}
div#dashboard .portletHeader {border-bottom:5px solid #e6e6e6;}
div#dashboard dd {padding:5px; margin:0px !important;}
div#dashboard .portlets-manager {border:0px; background:transparent !important;}
div#dashboard #dashboard-portlets4 {padding-top:0px;}
div#dashboard .portlets-manager .portletHeader {border:0px; margin:5px 0px;}
div#dashboard dl.portlet {margin-bottom:0px;}
div#dashboard .portletFooter {text-align:right;}