.bandaSuperior{
	height:6px;
	width:100%;
	background-color:#F60;
	font-size:0.05em;}
.logo {
	margin:25px 0 0 25px;
	min-width:160px;
	float:left;
	*margin:35px 0 0 25px;
	_margin:35px 0 0 15px;
	_width:160px}
.logo a {
	margin-right:3px}
.logo img {
	float: left}
.titolWeb {
	text-align:center;
	margin:10px 180px}
.imatgeCapcalera{
	width:958px;
	height:95px;
	text-align:right}
.barraIdiomes{
	padding: 75px 5px 0 0}
#portal-personaltools {
	font-size:0.9em;
	background-color: #fff;
	border-bottom: 0;
	border-top: 0;
	padding: 0;
	margin: -21px 0 0 5px;
	text-align: left;
	text-transform: none;
	color: #4d4d4d}
#portal-personaltools li a {
	color:#0076CC;
	text-decoration:none}
#portal-personaltools li a:hover {
	text-decoration:underline}
#portal-globalnav {
	background: #ededed url(bgMenu.png) no-repeat bottom;
	text-align:center;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:1.2em;
	text-transform:uppercase; 
	margin-top:0; 
	padding:0; 
	font-weight:bold;
	*margin-top:4px}
#portal-globalnav li {
	line-height: 25px;
	padding:5px; 
	margin-right: -1.8em; 
	display: inline}
#portal-globalnav li a {
	line-height: 25px;
	padding:5px; 
	color: #0076CC; 
	text-transform:uppercase}
#portal-globalnav li a, #portal-globalnav li.selected a, #portal-globalnav li a:hover, #portal-globalnav li.selected a:hover {
	border-right: 4px solid #FFF; 
	border-left: 4px solid #FFF; 
	border-top: 0; 
	border-bottom: 0}
#portal-globalnav li.selected a, #portal-globalnav li a:hover, #portal-globalnav li.selected a:hover {
	color: #FFF;
	padding:4px 5px 5px 5px;
	*padding:5px 5px 4px 5px}

#portal-globalnav li.selected a {
	background-color: #808080}
#portal-globalnav li a:hover {
	color:#0076CC; 
	background-color:#CCC; 
	text-decoration:underline;}
#portal-globalnav li.selected a:hover {
	background-color:#CCC}
.LResult {
	padding-top:0;}
.validacio {
	margin-top: -22px;
	margin-bottom:5px;
	font-size:0.9em;
	color:#4D4D4D;
	padding-left: 5px;
	*margin-top: -24px;
	_margin-top: -24px;}
.PortletCalendar {
	float:right;
	margin-right: 10px;
	margin-top: -200px;
	line-height:1.2em;
	font-size:0.9em;}
.barra_idiomes {
	float: right;
	position:relative;
	z-index: 2;
	margin-top: -20px;
	margin-right: 5px;}
.cantoES, .cantoEC {
	float: left;
	background-color: #E8E2DF}    
.cantoDR, .cantoDC {
	text-align: right;
	background-color: #E8E2DF}
.portletHeader {
	background-color:#E8E2DF;
	color:#4D4D4D;
	font-weight:bold;
	padding:1px 5px}
.agendaDalt{
	text-align: left}
.agendaNumero {
	line-height: 0.8em}   
.agendaDia {
	text-transform: lowercase}   
.barra_idiomes {
	position:relative;
	z-index: 2;
	margin-top: -20px;
	margin-right: 5px}
/*columnes*/
.columnaCentre {
	width:555px}