/* CSS UPC GENWEB 3.0 */
/********************************************* CAPÇALERA ********************************************************************/
/******************************************* ESPECÍFICS MODEL IMATGE ALLARGADA **********************************************/

.imatgeCapcaleraNeutre2{ 
  float:right;
  margin-bottom:5px;
  *margin-bottom:0px;}

.logoNeutre2 { 
  padding-top:36px;
  padding-left:0px;
  padding-right:25px;
  float:left;
  margin-bottom:5px;
  *margin-bottom:0px;
}

.logo_n2 {
 float:left;
 min-width:200px;
 margin: 25px 0px 0px 25px;
}
.logo_n2 img {float:left;}


.titolWebNeutre2 {
  text-align:left;
 /* margin-left:220px;*/
  margin: 7px;
}

.liniaPrincipalNeutre2{ 
  height:4px;
  width:100%;
  margin:0px;
  background-color:#FF6600; /*específic1*/
  font-size:0.05em;
  margin:5px 0 5px 0;
  clear:both;
}
 
#portal-personaltools{
    background-color:transparent;
    z-index: 1;
    position: absolute;
    margin: -29px 0px 0px 5px;
}

.barra_idiomes {
    float: right;
    position:relative;
    z-index: 2;
    margin-top: -28px;
    margin-right: 5px;
    }
    
.validacio {
	margin-top: -24px;
	*margin-top: -30px;
	float:left;
	position:absolute;
	}    
html*.validacio {
	margin-top: -30px;
	} 
/*
bodyNeutre2{
  padding-top:5px;
}


.cursMasterNeutre2{
  font-family:Arial, Helvetica, Verdana, sans-serif;
  font-size:16px;
  color:#007dcb;
}



.barraIdiomesNeutre2{
  padding: 79px 5px 0px 0px;
  margin-bottom:0px;
  float:right;
}

.barraUsuariNeutre2{
  padding: 80px 5px 0px 8px;
  float:left;
  font-size:0.9em;
}

.barraTipusNeutre2{
  width:200px;
  height:96px;
}

.clearAllNeutre2{
  clear:both;
  padding: 0px;
}*/
