.LSBox {
    /*clear: left;*/
    float: right;
    /*text-align: right;*/
    padding-right: 1px;
   /* display:block;*/

 margin: 0px !important;
}

#livesearchLegend {
    line-height: 1em;
    margin-top: -2.1em;
    margin-left: -0.1em;
    border: 1px solid #E6E6E6;
    border-bottom: 0;

float: right;
align: right;
/*display: none;*/
}

.livesearchContainer {
background:url(++resource++upc.genwebupctheme.images/fonsT.png) #f1f1f4 repeat-x scroll center bottom;
border:1px solid #E6E6E6;
color:#333333;
font-family:Verdana,Arial, Helvetica,sans-serif;
margin-top:0pt;
padding:0pt !important;
position:absolute;
right:0px;
text-align:left;
text-transform:none;
top:0pt;
visibility:visible;
white-space:normal;
width:24.3em;
}
.LSTable{
margin: 10px 0px 0px 0px;
}