/* CSS UPC GENWEB 3.0 */
/********************************************* CAPÇALERA ********************************************************************/
/******************************************* ESPECÍFICS MODEL IMATGE ALLARGADA **********************************************/


.logoNeutre2 { 
  float:left;
  padding-top:25px;
  padding-left:12px;
}

.titolWebNeutre2 {
  text-align:left;
 /* margin-left:220px;*/
  margin: 7px;
}

.liniaPrincipalNeutre2{ 
  height:4px;
  width:100%;
  margin:0px;
  background-color:#FF6600; /*específic1*/
  font-size:0.05em;
}

/*
bodyNeutre2{
  padding-top:5px;
}


.cursMasterNeutre2{
  font-family:Arial, Helvetica, Verdana, sans-serif;
  font-size:16px;
  color:#007dcb;
}

.imatgeCapcaleraNeutre2{ 
  margin-top:-96px;
  width:958px;
  height:39px;
  text-align:right;
}

.barraIdiomesNeutre2{
  padding: 79px 5px 0px 0px;
  margin-bottom:0px;
  float:right;
}

.barraUsuariNeutre2{
  padding: 80px 5px 0px 8px;
  float:left;
  font-size:0.9em;
}

.barraTipusNeutre2{
  width:200px;
  height:96px;
}

.clearAllNeutre2{
  clear:both;
  padding: 0px;
}*/
