#contenidor {margin-top:0px !important;}
.titolWeb {
	text-align:center;
	margin:10px 180px;}
.imatgeCapcaleraUnitat{
	background: transparent url(imatgeUnitat.jpg) no-repeat scroll left top;
	min-height:129px;
	margin:20px 0 0 126px}
.validacio {
	margin-top:-19px}
.barra_idiomes {
	margin-right:5px;
	margin-top:-19px;
	position:relative;
	z-index:2;}
.barraUsuari{
	margin-right:150px;
	padding: 10px 0 0 5px;
	font-size:0.9em;}
.banda{
	background: no-repeat;
	margin: 10px 0}
.daltMenu{
	height:103px;
	border-right: 2px solid #fff}
.alpha{
	background:url(pixelAlpha.png);
	_background: none; 
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="pixelAlpha.png",sizingMethod="scale");}
.imgUnitatsClick {
	height:103px}
html*.imgUnitatsClick{
	height:97px}
.imgUnitatsClick {
	height: 103px !important;
	*height:103px !important;}
.daltMenuPrimer{
	border-left: 2px solid #fff}
.baixMenu{
	min-height:20px;
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	text-transform:uppercase;
	color:#c00;
	font-weight:bold;
	border-left: 2px solid #ff784d;
	padding:4px 25px 1px 8px;
	*padding:4px 25px 2px 8px;
	vertical-align:top}
.descripcioMenu{
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0 9px;
	font-size: 0.9em;
	vertical-align:top}
.actiuMenu{
	height:0;
	*height:8px;
	border-bottom:2px solid #ff784d;
	*border-bottom:2px solid #ff784d}
/*\*/
html*.actiuMenu{border-bottom:2px solid #ff784d;}
.seleccionatMenu{

	border-left:2px solid #ff784d;
	border-right:2px solid #ff784d}
.alphaCustom{
	background:url(pixelAlphaCustom.png);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="pixelAlphaCustom.png",sizingMethod="scale");
	border-right:2px solid #ff784d}
.liniaActivaEsq{
	float:left;
	width:152px;
	margin-top:-2px;
	border-top:2px solid #ff784d;
	font-size:0em}
.liniaActivaDreta{
	float:right;
	width:152px;
	margin-top:-2px;
	border-top:2px solid #ff784d;
	font-size:0em}
/*\*/
html*.liniaActivaEsq, html*.liniaActivaDreta {width:152px}
.liniaActivaEsq, .liniaActivaDreta {*width:151px !important;}
.degradat{
	background:url(degradat.gif) repeat-x;
	min-height:18px;
	margin-top:0; 
	*margin-top:-2px;
	width:958px;
	padding-top:1px;
	position:relative;
	margin-top:-1px;
	z-index:0;}
/*\*/
html*.degradat{margin-top:0px; float:right}
.degradat {*float:none !important;*margin-top:-2px !important;}
.imatgeCapcaleraUnitat table{
	border-collapse:collapse;
	padding:0;
	margin: 0 25px;
	width: 656px}
td.baixMenu {white-space: nowrap}
		
.controlDreta {width:175px;}