/* CSS UPC GENWEB 3.0 */

/********************************************************************** CAPÇALERA *******************************************************************************/
/********************************************************** ESPECÍFICS MODEL IMATGE ALLARGADA *******************************************************************/

.logo
{
float:left;
/*margin: 45px 0px 0px 25px;*/
}
.titolWeb
{
text-align:center;
margin:0px 180px 0px 180px;
}
.imatgeCapcaleraUnitat{
  background: transparent url(imatgeUnitat.jpg) no-repeat scroll center top; 
  min-height:129px;
  margin:20px 126px 0px 126px;
}
.validacio {
color:#4D4D4D;
font-size:0.9em;
margin-bottom:5px;
margin-top:-19px;
padding-left:5px;
}
.barra_idiomes {
margin-right:5px;
margin-top:-19px;
position:relative;
z-index:2;
}
.barraUsuari{
margin-right:150px;
padding: 10px 0px 0px 5px;
font-size:0.9em;
}
.banda{
background: no-repeat;
/*height:21px;*/
margin: 10px 0px 10px 0px;
}

.daltMenu{
height:109px;
border-right: 2px solid #ffffff;
}
/*\*/
html*.daltMenu{
height:103px;}
}
.daltMenu
{*height:109px !important;}
.alpha{
background:url(pixelAlpha.png);
_background: none; /*ie6hack*/
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="pixelAlpha.png",sizingMethod="scale");
}
.imgUnitatsClick {
height:103px;
}
html*.imgUnitatsClick{
height:97px;}
}
.imgUnitatsClick {
*height:103px !important;
}
.daltMenuPrimer{
border-left: 2px solid #ffffff;
}
.baixMenu{
min-height:20px;
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:1.2em;
text-transform:uppercase;
color:#cc0000; /*especí­fic 2*/
font-weight:bold;
border-left: 2px solid #ff784d; /*especí­fic1*/
padding:4px 25px 1px 8px;
vertical-align:top;
}
.descripcioMenu{
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding:0px 9px;
vertical-align:top;
}
.actiuMenu{
height:8px;
border-bottom:3px solid #ff784d; /*especí­fic1*/
*border-bottom:2px solid #ff784d; /*especí­fic1*/
}
/*\*/
html*.actiuMenu{border-bottom:2px solid #ff784d; /*especí­fic1*/}
.seleccionatMenu{
border-left:2px solid #ff784d; /*especí­fic1*/
border-right:2px solid #ff784d; /*especí­fic1*/
}
.alphaCustom{
background:url(pixelAlphaCustom.png);
_background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="pixelAlphaCustom.png",sizingMethod="scale");
border-right:2px solid #ff784d;
}
.liniaActivaEsq{
float:left;
width:151px;
margin-top:-2px; /* internet explorer -3px*/
*margin-top:-2px; /* internet explorer -3px*/
border-top:2px solid #ff784d; /*especí­fic1*/
font-size:0em;
}
.liniaActivaDreta{
float:right;
width:151px;
margin-top:-2px; /* internet explorer -3px*/
*margin-top:-2px; /* internet explorer -3px*/
border-top:2px solid #ff784d; /*especí­fic1*/
font-size:0em;
}
/*\*/
html*.liniaActivaEsq, html*.liniaActivaDreta {width:152px;}
.liniaActivaEsq, .liniaActivaDreta {*width:151px !important;}
.degradat{
background:url(degradat.gif) repeat-x;
min-height:18px;
margin-top:0px; /* internet explorer -13px*/
*margin-top:-2px; /* internet explorer -13px*/
width:958px;
padding-top:1px;
}
/*\*/
html*.degradat{margin-top:0px; float:right;}
.degradat {*float:none !important;*margin-top:-2px !important;}
.imatgeCapcaleraUnitat table{
border-collapse:collapse;
padding:0px;
margin: 0px 25px;
width: 656px;
}
td.baixMenu {white-space: nowrap;}